<!doctype html>
<html lang="en" ng-app="twitty">
<head>
    <meta charset="utf-8">
    <title>Tweet app</title>

    <link rel="stylesheet" href="/static/stylesheets/index.css">

    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="/static/vendor/angular/angular.js"></script>
    <script src="/static/vendor/angular-route/angular-route.js"></script>
    <script src="/static/vendor/angular-resource/angular-resource.js"></script>

    <script src="/static/js/app.js"></script>
    <script src="/static/js/controllers.js"></script>
    <script src="/static/js/directives.js"></script>
    <script src="/static/js/services.js"></script>
</head>
<body>

<div id="top-navbar">

</div>

<div id="main-content" class="container">
    <div ng-view></div>
</div>

</body>
</html>